body{
    color:rgb(255, 255, 255);
    background-color:aliceblue;
    background:linear-gradient(rgb(146, 210, 230),rgb(99, 163, 86));
}
header{
    background-color: rgb(45, 59, 45);
    background-image: url('C:\Users\stud.KOSGOS\Desktop\тур проект\картинки\горы.png');
    color: aliceblue;
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
}

.logo{
    padding: 20px;
    font-size: 1.5em;
}

h2{
    color: rgb(40, 80, 40);
    background-color:rgb(183, 235, 199);
    text-align: center;
}

.nado{
    color: rgb(255, 255, 255);
    text-align: center;
}

nav{
    text-decoration:none;
    color:rgb(255, 255, 255);
    margin: 0 15px;
}

.nav-menu {
    display: flex;
    gap: 5vw;
    color:aliceblue;
}

a{
    color:aqua;
    text-decoration: none;
}

.img {
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.hot-tours{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
    color: rgb(40, 80, 40);
    padding: 20px;
}

.hot-tour{
    flex: 1;
    min-width: 250px;
    background-color:rgb(183, 235, 199);
    color: rgb(40, 80, 40);
    padding: 20px;
}

.opisanie{
    color: rgb(40, 80, 40);
    text-align:left;
}